.text-highlight {
	color: #d11f93;
	font-weight: bold;
	letter-spacing: 0.065em;
}

.text-highlight:hover {
	color: #ff00a6;
	text-shadow: 0 0 0.7em #c06ba2;
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.profile-image {
	border-radius: 50%;
}

@keyframes heart {
	0%,
	40%,
	80%,
	100% {
		transform: scale(1);
	}
	20%,
	60% {
		transform: scale(1.15);
	}
}
.heart {
	animation: heart 7000ms infinite;
}

@media only screen {
	html {
		scroll-behavior: smooth;
	}
}
